#Ignoring files
/Assignment1/__pycache__
/Assignment1/scalar_search_wolfe2 - scipy - Python documentation - Kite_files
/Assignment1/momo_task_1.pdf
/Assignment1/momo_task_1-20200217T203927Z-001.zip
/Assignment1/scalar_search_wolfe2 - scipy - Python documentation - Kite.html
/Assignment1/Experiments.ipynb
/Assignment1/.ipynb_checkpoints/
